@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-g: #333;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--dark-g);
  color: white;
  line-height: 1.6;
}

.slider {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: opacity 0.4s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.slide .content {
  position: absolute;
  bottom: 70px;
  left: -600px;
  width: 600px;
  background-color: rgb(255, 255, 255, 0.8);
  color: var(--dark-g);
  padding: 25px;
  opacity: 0;
}

.slide .content h1 {
  margin-bottom: 10px;
}

.slide.current .content {
  opacity: 1;
  transform: translateX(600px);
  transform: all 0.7s ease-in-out 0.3s;
}

.buttons button#next {
  position: absolute;
  top: 50%;
  right: 15px;
}

.buttons button#prev {
  position: absolute;
  top: 50%;
  left: 15px;
}

.buttons button {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 13px 14px;
  border-radius: 48%;
}

.buttons button:hover {
  color: var(--dark-g);
  background-color: white;
}

/* Background Images */
.slide:first-child {
  background: url("./images/pexels-jessica-lewis-633483.jpg") no-repeat
    center/cover;
}

.slide:nth-child(2) {
  background: url("./images/pexels-oleg-magni-890570.jpg") no-repeat
    center/cover;
}

.slide:last-child {
  background: url("./images/pexels-valeria-boltneva-12967.jpg") no-repeat
    top/cover;
}
