@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-g: #333;
}

body {
  background-color: var(--dark-g);
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  color: white;
  overflow: hidden;
}

.slides {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: opacity 0.4s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.slide .content {
  position: absolute;
  bottom: 70px;
  left: -600px;
  width: 600px;
  background-color: rgb(255, 255, 255, 0.8);
  color: var(--dark-g);
  padding: 25px;
  opacity: 0;
}

.slide .content h1 {
  margin-bottom: 10px;
}

.slide.current .content {
  opacity: 1;
  transform: translateX(600px);
  transition: all 0.7s ease-in-out 0.3s;
}

.buttons button#next {
  position: absolute;
  top: 50%;
  right: 15px;
}

.buttons button#prev {
  position: absolute;
  top: 50%;
  left: 15px;
}

.buttons button {
  background-color: transparent;
  padding: 13px 14px;
  outline: none;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  border-radius: 48%;
  transition: all 0.3s ease-in-out 0.1s;
}

.buttons button:hover {
  color: var(--dark-g);
  background-color: white;
}

/* --- Background Images --- */
.slide:first-child {
  background: url("./images/yes_girl.jpg") no-repeat center/cover;
}

.slide:nth-child(2) {
  background: url("./images/practice_more.jpg") no-repeat center/cover;
}

.slide:nth-child(3) {
  background: url("./images/tooth_fairy.jpg") no-repeat center/cover;
}

.slide:nth-child(4) {
  background: url("./images/pumpkin_coffee.jpg") no-repeat center/cover;
}

.slide:nth-child(5) {
  background: url("./images/comics.jpg") no-repeat center/cover;
}

.slide:nth-child(6) {
  background: url("./images/jon_snow.jpg") no-repeat center/cover;
}

.slide:nth-child(7) {
  background: url("./images/japan.jpg") no-repeat center/cover;
}

.slide:nth-child(8) {
  background: url("./images/donald_duck.jpg") no-repeat bottom/cover;
}

.slide:last-child {
  background: url("./images/green_lantern.jpg") no-repeat center/cover;
}

/* --- Small Screen --- */
@media (max-width: 500px) {
  .slide .content {
    bottom: -300px;
    left: 0;
    width: 100%;
  }

  .slide.current .content {
    transform: translateY(-300px);
  }

  .buttons {
    display: none;
  }
}
